body{
    position: relative;

}

img{
    width: 100%;
    height: 100%;
}

.content{
    position: absolute;
    width: 300px;
    height: 150px;
    transform: translate3d(50%,50%,0);
}

#carousel{
    /*默认宽高*/
    width: 300px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#carousel ul{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

}

#carousel ul li{
    height: 100%;
    /* 平均父级的宽度100%除以子级的个数 *!*/
    display: block;
    float: left;
}

.leftButton{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 5px;
    top: 50%;
    margin-top: -25px;
    text-align: center;
    line-height: 50px;
}

.rightButton{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 5px;
    top: 50%;
    margin-top: -25px;
    text-align: center;
    line-height: 50px;
}


/*iconfont*/
.icon-left:before { content: "\e612"; }

.icon-right:before { content: "\e613"; }